@media only screen and (min-width:850px){

    .hoverCta:hover{
        transform: scale(1.05);
        transform-origin: center center;
        transition: transform 0.2s ease-in-out; }

    footer{
        width:30rem;
        border-top: 1px solid black;
        margin:10rem 0 5rem 2rem;
        padding-top: 1rem;  }

    body .showMobile{
        display:none;   }

    .contactUsPage{
        max-width: 500px;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
        'grid1 grid1'
        'grid2 grid3'
        'grid2 grid4';  }
}

@media only screen and (min-width:544px) and (max-width:850px){
    header .headerIcons{
        margin-left: 0; }

    header .headerIcons img, .headerIcons a{ 
        height: 5rem;
        margin-left: 2%;    }

    header .headerText a{
        margin:2%;  }

    header{
        background-color: red;  }

    .contactUsPage{
        max-width: 500px;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
        'grid1 grid1'
        'grid2 grid3'
        'grid2 grid4';  }

    main .frontPageLinks{
        flex-direction: row;
    } 
}

/* ======= Mobile screen ======= */
@media only screen and (max-width:545px){
    header {
        background-color: aqua;
    }
    header .headerMenu {
        flex-direction: column;}

    header .headerIcons a, header .headerIcons img{ 
        height:10rem;  }

    header .headerIcons{
        margin-left: 0; }
    
    header .headerIcons a, .headerIcons img, .headerText a{ 
        height: 5rem;
        margin: 0 5px 0px 5px;  }

    main .aboutUsPage section{
        flex-direction: column; }

     main .contactUsPage{
        max-width: 500px;
        display: flex;
        flex-direction: column;  
        align-items: center;    }   

    main .contactUsPage{
        display: flex;
        flex-direction: column; }
    main .frontPage{
        flex-direction: column;
    }

    footer .footerClass .flexColumn{
        flex-direction: row;    }

    footer .footerClass{
        flex-direction: column-reverse;
        align-items: center;    }

    footer .footerClass a{
        margin: 0 5px 10px 5px; }

    footer .firstSection{
        width:30rem;
        border-top: 1px solid black;
        padding-top:1.5rem; }
    
    footer {
        margin:50px 0;   }

    body .hideMobile{
        display:none;   }  



}

/*
.active{
    text-decoration:underline  }

.active::before{
    content: "*";
    position: absolute;
    font-size: 30px;
    color:black;
    
    padding: 2px 4px;
    margin-left: 13px;
    margin-top: -20px;
}*/