.topMenu{
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal
    }
    header nav .topMenu ul, header nav .topIcons ul, header{
        display: flex; /* use flexbox to align items horizontally */
        list-style: none; /* remove default list styles */
        padding: 0; /* remove default padding */
    }

    header ul li{
        font-size: 2rem;
       /* add some spacing between list items */
    }

    .topMenu ul li{
        margin-top: 100px;
        margin-left: 20px;
    }
    .topIcons ul li{
        margin-left:20px;
        margin-top:50px;
    }
    .topMenu a{
        color:black;
        text-decoration:none;
       
    }
    